@{
    Layout = null;
    string route = ((System.Web.Routing.Route)ViewContext.RouteData.Route).Url;
}
<aside class="main-sidebar">
   <!-- sidebar: style can be found in sidebar.less -->
   <section class="sidebar">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
         <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
               <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
         </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
         <li class="header">MAIN NAVIGATION</li>
         <li class="@(route == "" ? "active" : "")">
            <a href="@Url.Action("Index", "Home")">
               <i class="fa fa-home"></i> <span>Home</span>
            </a>
         </li>
         <li class="@(route == "calendar" ? "active" : "")">
            <a href="@Url.Action("Calendar", "Home")">
               <i class="fa fa-calendar"></i> <span>Calendar</span>
               <small class="label pull-right bg-red">3</small>
            </a>
         </li>
         @if (User.IsInRole("Admin"))
         {
            <li class="header">ADMIN</li>
            <li class="treeview">
               <a href="#">
                  <i class="fa fa-edit"></i> <span>Edit Users</span>
                  <i class="fa fa-angle-left pull-right"></i>
               </a>
               <ul class="treeview-menu">
                  <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                  <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                  <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
               </ul>
            </li>
         }
      </ul>
   </section>
   <!-- /.sidebar -->
</aside>
