@model StaffPortal.Models.LoggedInStaffMember
@{
    ViewBag.Title = "UserPanel";
}

<h2>UserPanel</h2>

<p>Booked holidays: @Model.HolidaysBooked</p>
<p>Pending holidays: @Model.HolidaysPending</p>

